{% block html_head %}

	{% include 'partials/p-html-head.twig' %}

{% endblock %}

<body class="{{ body_class }}">
    {% block header %}

        {# {% include 'partials/p-header.twig' %} #}

    {% endblock %}

    <main class="global-content" role="main">

        {% block content %}

            <div class="common-container common-content">
                <div class="col-12">
                    <p>No content available.</p>
                </div>
            </div>

        {% endblock %}

    </main>

    {% block footer %}

        {# {% include 'partials/p-footer.twig' %} #}

    {% endblock %}

</body>
</html>
