{% block html_head %}

	{% include 'partials/html-head.twig' %}

{% endblock %}

<body class="{{ body_class }}">
    {% block header %}

        {# {% include 'partials/header.twig' %} #}

    {% endblock %}

    <main role="main">

        {% block content %}

            <p>No content available.</p>

        {% endblock %}

    </main>

    {% block footer %}

        {% include 'partials/footer.twig' %}

    {% endblock %}

    {{ fn('wp_footer') }}

</body>
</html>
